.header {
    display: flex;
    background-color: #1F2937;
    color: white;
    justify-content: space-between;
    height: 100px;
}

ul {
    margin-top: 0px;
    padding-top: 16px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 0px;
    list-style-type: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: white;
}

.hero {
    display: flex;
}

.logo {
    margin-right: auto;
    font-size: large;
    font-weight: bold;
    margin-left: 50px;
}

body {
    margin: 0px;
    padding: 0px;
}

.blue-block {
    border-radius: 15px;
    border-style: solid;
    border-color: #3882f6;
    background-color: white;
    height: 150px;
    width: 150px;
}

.hero {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    gap: 100px;
    margin: 0%;
    padding-bottom: 10%;
}

.right-hero {
    width: 50%;
}

.left-hero {
    width: 50%;
    padding-left: 10%;
}

.hero-signup {
    background-color: #3882f6;
    color: white;
    border: none;
    padding: 1.5%;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
    border-radius: 10px;
}

.random {
    display: flex;
    justify-content: center;
    gap: 35px;
}

.blue-box {
    display: flex;
    flex-direction: column;
    width: 150px;
}

.quote {
    background-color: #E5E7EB;
    height: 350px;
    font-size: 36px;
    color: #1F2937;
    padding-bottom: 50px;
}

.actual-quote {
    font-style: italic;

    padding: 10%;
    padding-bottom: 0%;
    font-weight: 400
}

.author {
    font-size: 30px;
    font-weight: bold;
    text-align: end;
    padding-right: 7%;
}

.call {
    color: white;
    background-color: #3882F6;
    display: flex;
    border-radius: 20px;
    margin: 7% 10%;
    height: 100px;
    justify-content: center;
    align-items: center;
    gap: 90px;
}

.call-text p {
    margin: 0;
}

.call-text {
    width: 300px;
}

.grey-block {
    background-color: grey;
    height: 150px;
    width: 300px;
}


.hero-signup {
    cursor: pointer;
}

h2 {
    text-align: center;
}

.call-btn button{
    border-radius: 5px;
    background-color: #3882F6;
    padding: 5px 10px;
    border: none;
    border-style: solid;
    border-color: white;
    border-width: thin;
    color: white;
    font-weight: bold;
}